<<<<<<< HEAD
=======
#header {
    position: absolute;
    display: none;
}

>>>>>>> 93f06cae5d2fcbfae825d9b37ec4d56f632f0e41
#contact-success {
    position: relative;
}

#contact-success .container {
    position: relative;
    margin-top: 150px;
    text-align: center;
    height: 300px;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}